/* nav -Kabui */



/* content&services -Cate */
.logoo{
    text-align: center;
 }
 .logoo img{
     width: 200px;
     height: 150px;
 }
 .nbih{
     text-align: center;
     
 }
 .pcontent{
     text-align: center;
 }
    





/* branches, reviews, ratings -Milcah*/



/* location,icons -Rose */