/* nav -Kabui */
.body {
  margin: 0;
  padding: 0;
}

nav button {
  background-color: #6e7aea !important;
  outline: none;
  border-radius: 3px;
  height: 50px;
  border-color: #fff;
  border-width: 3px;
}

.nav-link {
  color: #fff !important;
  justify-content: space-between;
}
.nav-link :hover {
  color: #6e7aea !important;
}
.background {
  background-image: url(../images/nairobi.jpg);
  height: 50vh;
  width: auto;
  background-size: cover;
  background-position: center;
}
/* content&services -Cate */
.nbhihosp {
  background-image: linear-gradient(white, rgb(178, 236, 236));
}
.logoo {
  text-align: center;
}
.logoo img {
  width: 200px;
  height: 150px;
}
.nbih {
  text-align: center;
}
.pcontent {
  text-align: center;
}
.nbh2 {
  text-align: center;
  font-weight: bold;
}
.servcont {
  display: flex;
  justify-content: space-between;
}
.serviceimages {
  padding: 10px;
  width: 23%;
  text-align: center;
  /* height: 300px; */
}
.serviceimages img {
  width: 90%;
  margin: auto;
  height: 180px;
  border-radius: 20px;
  border: 3px solid black;
}

@media only screen and (max-width: 767px) {
  .serviceimages img {
    height: 100px;
  }
}
@media only screen and (max-width: 424px) {
  .serviceimages img {
    height: 75px;
  }
  .serviceimages label {
    font-size: smaller;
  }
}

/* branches, reviews, ratings -Milcah*/
.branches {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.branch1 {
  width: 30%;
}
.branimg {
  width: 100%;
  border-radius: 20px;
  height: 300px;
}
.branch {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .branimg {
    height: 100px;
  }
}
.brdisplay {
  color: black;
  opacity: 0.5;
  border: 3px solid black;
  background-color: white;
  -ms-transform: translate(10%, 10%);
  transform: translate(20%, 20%);
  position: absolute;
  height: 50px;
  width: 20%;
  font-weight: 700;
  top: 30%;
  left: 5%;
  right: 20%;
}
.brdisplay7 {
  color: black;
  opacity: 0.5;
  border: 3px solid black;
  background-color: white;
  -ms-transform: translate(10%, 10%);
  transform: translate(5%, 5%);
  position: absolute;
  height: 50px;
  width: 20%;
  font-weight: 700;
  top: 30%;
  left: 40%;
}
.brdisplay8 {
  color: black;
  opacity: 0.5;
  border: 3px solid black;
  background-color: white;
  -ms-transform: translate(20%, 20%);
  transform: translate(20%, 20%);
  position: absolute;
  height: 50px;
  width: 20%;
  font-weight: 700;
  top: 30%;
  left: 70%;
}
.socials {
  text-align: center;
}
.socialimg {
  height: 30px;
}
.review {
  background-color: #b4eceb;
  min-height: 200px;
  /*   text-align: center; */
}
.review-view {
  text-align: center;
}

.fa-star {
  color: yellow;
}

.form-link {
  color: #3c50ff;
  cursor: pointer;
  animation: grow 2s linear infinite;
}

@keyframes grow {
  to {
    font-size: 1.2em;
  }
}

.rating-t {
  display: inline-block;
}

/* location,icons -Rose */
.review-view {
  margin: auto;
}
/*
.akanlocation{
   position: relative; 
   height: 400px;
   display: flex;
   flex-wrap: wrap-reverse;
}
.akanlocation img{
 padding-left: 50px;
}
.locate{
font-weight: bolder;
text-align: center;
color:black;
font-size: 40px;
font-family: 'Merriweather Sans', sans-serif;
}
*/
.locationinfo {
  /* float: right;  */
  color: white;
  font-size: 20px;
  background-image: url(../pages/img/road.jpg);
  background-size: cover;
  height: 350px;
  /* width: 650px; */
  text-align: center;
  padding-top: 60px;
}

.emailtext {
  color: white;
  text-decoration: none;
}
