body{
    margin: 0;
    padding: 0;
}

/* nav, search-con div, about-us -Sam */



 /* Hospitals, messageUs, ContactUs, footer - Pauline */
.hospitalss{
    background: #E5D9F2;
    text-align: center;
}
.hos-h2{
    color: #0047FF;
    
}