body {
  margin: 0;
  padding: 0;
}

/* nav, search-con div, about-us -Sam */
.navbar {
  background-color: #07081e;
}

.navbar .active {
  color: #0047ff !important;
}

.banner {
  height: 100vh;
}


 /* Hospitals, messageUs, ContactUs, footer - Pauline */
.hospitalss{
    background: #E5D9F2;
    text-align: center;
}
.hos-h2{
    color: #0047FF;
    
}
.hospital-cards{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.hospital-card{
    width: 25vw;
    
}
.card{
    border: 1 px solid black !important;
    border-radius: 5%;
}
.messageUs{
    text-align: center;
}
.messageTextarea{
    width: 100vw;
}
.contactUs{
    background: #F5EFFF;
    text-align: center;
}
.contactinfo{
    border: 1px solid #0047FF;
    border-radius: 5%;
    width: 45%;
    margin: auto;
}
.fa1{
    text-decoration: none;
}
.landing-footer{
    background: #040A1C;
    text-align: center;
    color: white
}

@media only screen and (max-width : 767px){
    .hospital-cards{
        /* display: flex; */
        flex-direction: column;
    }
    .hospital-card{
        width: 80vw;
        margin-bottom: 5px;
    }
    .contactinfo{
        width: 70%;
    }
}


