body {
  margin: 0;
  padding: 0;
}

/* nav, search-con div, about-us -Sam */
.navbar {
  background-color: #07081e;
}

.navbar .active {
  color: #0047ff !important;
}

.banner {
  height: 100vh;
}

/* Hospitals, messageUs, ContactUs, footer - Pauline */
.hospitalss {
  background: #e5d9f2;
  text-align: center;
}
.hos-h2 {
  color: #0047ff;
}
.hospital-cards {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.hospital-card {
  width: 25vw;
}
